//   Top-bar
//$bg-width: 2053px;
$bg-color-topBar: #333333;
$color-currency: #777777;
$color-reg: #999999;
$color-reg-hover: #00c8c8;
$color-basket-link-hov: #ffffff;
$color-basket-hov: #00c8c8;

// Bottom-bar

$bg-color-bottomBar: #f8f8f8;
$color-ave: #575153;
$color-logo: #222222;
$color-border-search: #e7e7e7;
$color-text-search: #989898;
$color-submenu-item: #727272;
$color-button-border: #737373;