@import "_normalize";
@import "_variables";
@import "fonts";


/*********   Main styles    ******/
%flex-row {
  display: flex;
}
%flex-sb-cen {
  justify-content: space-between;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}
body{
  min-width: 100%;
  font-family: "Motnserrat", Arial, sans-serif;
}
      /*****   Top-bar    *****/

.top-bar {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color-topBar;
  padding-left: 30px;
  padding-right: 30px;

  &__margin {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.top-bar {
  //@media screen and (min-width: 320px) {
  //  padding-left: 30px;
  //  padding-right: 30px;
  //}
  //@media screen and (min-width: 375px) {
  //  padding-left: 40px;
  //  padding-right: 40px;
  //}
  //@media screen and (min-width: 425px) {
  //  padding-left: 50px;
  //  padding-right: 50px;
  //}
  @media screen and (min-width: 768px) {
    padding-left: 110px;
    padding-right: 110px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 250px;
    padding-right: 250px;
  }
  @media screen and (min-width: 1920px) {
    padding-left: 441px;
    padding-right: 441px;
  }
}

  /******     Currency-box   *****/

.currency-box {
  @extend %flex-row;
  &__list {
    position: relative;
    list-style: none;
    a {
      display: block;
      color: $color-currency;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &> li:hover > .currency-box__submenu {
      display: block;
    }
    &> li:hover i {
      transform: rotate(180deg);
    }
  }
  &__label {
    margin-right: 5px;
    color: $color-currency;
    font-size: 1.4rem;
  }
  &__submenu {
    display: none;
    position: absolute;
    left: -10px;
    background-color: $bg-color-topBar;
    list-style: none;
    transition: display 0.5s ease-in;
    li a {
      padding: 5px 10px;
    }
  }
}

.wrapper-reg {
  @extend %flex-row;
  .top-bar__mar {
    margin-right: 82px;
  }
}
  /******    Entrance-box   *******/

.entrance-box {
  @extend %flex-row;
  list-style-type: none;
  li:first-child {
    margin-right: 30px;
  }
    a {
      color: $color-reg;
      font-size: 1.3rem;

      &:hover {
        color: $color-reg-hover;
      }
    }
}

/*********   Basket    *********/

.basket {
  @extend %flex-row;
  align-items: center;
  padding: 14px 24px 14px 22px;
  &:hover {
    background-color: $color-basket-hov;
    .basket__link {
      color: $color-basket-link-hov;
    }
  }
  &__link {
    font-size: 1.3rem;
    color: $color-reg;
  }
  &__text {
    margin-left: 22px;
    margin-right: 5px;
  }
}

/******   Bottom-bar    ****/

.bottom-bar {
  background-color: $bg-color-bottomBar;
  position: relative;
}
 /******  Header-nav & logo ********/

.header-nav {
  @extend %flex-row;
  @extend %flex-sb-cen;
  padding: 1.85em 6.58em;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.logo {
  color: $color-logo;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  &__second {
    font-weight: 700;
  }
}

/*******     Menu     *********/
.wrapper-menu {
  @extend %flex-row;
  @extend %flex-sb-cen;
}
.menu {
  margin-right: 115px;
}

.menu-list {
  @extend %flex-row;
  list-style: none;
  &__item {
    position: relative;
    margin-right: 65px;
    &:hover .menu-list__link {      //how to do shorter
      color: $color-basket-hov;
    }
    &:hover i {                     //how to do shorter  don't work hover???
      color: $color-basket-hov;
    }
    &:hover .submenu-wrapper{
      display: block;
    }
    &:last-child {
      margin-right: 0;
    }
    i {
      position: absolute;
      transition: color 0.3s linear;
      top: 22px;
    }
  }
  &__link {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $color-logo;
  }
}

/*******   Header-slider   *********/


.header-slider {
  position: relative;
  z-index: 1;
  &__image {
    position: relative;
    width: 47%;
    left: 11.2%;
  }

  &__text {
    position: absolute;
    z-index: 3;
    font-size: 21.9vw;  //45rem
    top: 30%;           //301px;
    left: 12%;          //263px
    text-transform: uppercase;
    color: $color-ave;
    font-weight: 700;
    span {
      letter-spacing: 0.7em;  //in the template the letter-spacing: 22.5px;
    }

  }
  &__link {
    display: block;
    position: absolute;
    bottom: 5.9em;        //122px
    right: 11.3em;         //323px
    padding: 23px 33px;
    border: 2px solid $color-button-border;
    color: #454647;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }
}

/*****    Search form in a header     ******/

.search-form {
  position: relative;
  &__field {
    width: 190px;
    padding: 10px 28px 10px 11px;
    border: 1px solid $color-border-search;
    color: $color-text-search;
    font-size: 1.3rem;
    font-weight: 300;
  }
  i {
    position: absolute;
    right: 11px;
    top: 11px;
    &:before {
      font-size: 15px;
      color: $color-text-search;
    }
  }
}

/******  Submenus  *******/

.submenu-wrapper {
  position: absolute;
  top: 36px;
  z-index: 5;
  display: none;
  width: 467px;
  padding: 30px;
  background-color: $bg-color-bottomBar;
  box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
  ul {
    list-style: none;
  }
  &-margin {
    margin-top: 62px;
  }
}

.submenus {
  @extend %flex-row;
  &__item {
    &:first-child {
      margin-right: 86px;
    }
  }
  &__link {
    color: $color-ave;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.submenu {
  margin-top: 33px;
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $color-submenu-item;
      font-size: 1.4rem;
      font-weight: 300;
    }
  }

}
/******   Advertisement    ******/

.advertisement {
  background-color: $bg-color-topBar;
  padding: 62px 53px;
  letter-spacing: 1.8px;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 56px;
  &__title {
    font-weight: bold;
  }

}


